/* Reset default browser styles */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    /* Center the main content vertically and horizontally */
    body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fff;
    }
    
    /* Style the page header */
    header {
    background-color: #000;
    color: #fff;
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
    }
    
    h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #f00;
    }
    
    /* Style the form */
    form {
    width: 100%;
    max-width: 500px;
    padding: 1rem;
    border: 2px solid #000;
    background-color: #fff;
    font-size: 1.2rem;
    margin-top: 20px;
    }
    
    label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    }
    
    input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    border: 2px solid #f00;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 1rem;
    }
    
    button[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #f00;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin-top: 10px;
    }
    
    button[type="submit"]:hover {
    background-color: #000;
    }
    
    /* Style the output box */
    #output {
    width: 100%;
    max-width: 500px;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 10px;
    background-color: #f9c74f;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    display: none;
    color: #222222;
    }
    
    /* Style the random ayah button */
    .big-button {
    display: block;
    margin: 2rem auto;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #8338ec;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s ease-in-out;
    }
    
    .big-button:hover {
    background-color: #fff;
    color: #222222;
    transition: background-color 0.3s ease-in-out;
    }
    
    .output-box {
    padding: 10px;
    border: 2px solid #8338ec;
    background-color: #fff;
    font-size: 1.2rem;
    line-height: 1.5;
    }